.App{
  text-align: center;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  font-family: 'Josefin Sans', sans-serif;

}

.question-area{
  margin: 20px 0px;
  height: 60px;
}

.question{
  font-size: 40px;
  border-bottom: 3px solid #ddd;
  margin: 0px 5px;
  width: 50px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
  
}

.question:hover{
  background: #F44336;
  color: white;
  border-bottom: 5px solid #F44336;

}

.question-name{
  font-size: 20px;
  font-weight: 700;
}

.button-area{
  margin-top: 15px;
}

.button{
  width: 50px;
  height: 50px;
  margin: 2px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

.empty-message{
  font-size: 25px;
}
